<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='style.css')}}"
        />
        <title>{% block title %} {% endblock %} – Muistiinpanojako</title>
    </head>
    <body>
        <header>
            <a href="/"><h1 class="logo">Muistiinpanojako</h1></a>
            <div class="links">
                {% if session["signed_in"] %}
                <a href="/note/create">Uusi muistiinpano</a>
                <a href="/signout">Kirjaudu ulos</a>
                {% else %}
                <a href="/signup">Rekisteröidy</a>
                <a href="/signin">Kirjaudu sisään</a>
                {% endif %}
            </div>
        </header>
        <main>{% block content %} {% endblock %}</main>
    </body>
</html>
