{% extends "base.html" %}

<!---->

{% block title %} Etusivu {% endblock %}

<!---->

{% block content %}
<!---->
{% if notes %}
<section class="note-grid">
    {% for note in notes %}
    <a href="/note/{{note.id}}">
        <div class="card note-grid__card">
            <p class="note-grid__title">{{note.title}}</p>
            <p class="note-card__author">Kirjoittanut: {{note.user}}</p>
        </div>
    </a>
    {% endfor %}
</section>
<hr hidden />
<ul class="pagination">
    <li>
        <a
            class="button button--secondary pagination__button {{'' if pagination.left_arrow else 'pagination__button--hidden'}}"
            href="{{url_for('index_page', page=page-1)}}"
        >
            <label hidden>Edellinen sivu</label>
            <i aria-label="Edellinen sivu" class="fa-solid fa-angle-left"></i>
        </a>
    </li>
    <div class="pagination__numbers">
        {% for number in pagination.numbers %} {% if number == "..." %}
        <p>...</p>
        {% else %}
        <li>
            <a
                href="{{url_for('index_page', page=number)}}"
                class="button pagination__button {{'' if number == pagination.active_page else 'button--ghost'}}"
            >
                {{number}}
            </a>
        </li>
        {% endif %} {% endfor %}
    </div>
    <li>
        <a
            class="button button--secondary pagination__button {{'' if pagination.right_arrow else 'pagination__button--hidden'}}"
            href="{{url_for('index_page', page=page+1)}}"
        >
            <label hidden>Seuraava sivu</label>
            <i aria-label="Seuraava sivu" class="fa-solid fa-angle-right"></i>
        </a>
    </li>
</ul>
{% else %}
<div class="note-grid__not-found">
    <h1 class="note-grid__not-found__heading">
        Täällä on toistaiseksi vielä tyhjää!
    </h1>
    <a class="button button--large" href="/note/create">
        Luo uusi muistiinpano
    </a>
</div>
{% endif %}
<!---->

{% endblock %}
