{% extends "base.html" %}

<!---->

{% block title %} {{user.username}} {% endblock %}

<!---->

{% block content %}
<!---->
<section class="user-page">
    <h1 class="user-page__heading">{{user.username}}</h1>
    <div class="user-page__statistics">
        <p class="user-page__statistic">
            Muistiinpanoja: {{statistics.note_count}}
        </p>
        <p>•</p>
        <p class="user-page__statistic">
            Kommentteja: {{statistics.comment_count}}
        </p>
    </div>
</section>

<hr class="divider" />

{% if notes %}
<section class="note-grid">
    {% for note in notes %}
    <a href="/note/{{note.id}}">
        <div class="card note-grid__card">
            <p class="note-grid__title">{{note.title}}</p>
            <p class="note-card__author">
                Kirjoittanut: {{note.user.username}}
            </p>
        </div>
    </a>
    {% endfor %}
</section>
<div class="pagination">
    <a
        class="button button--secondary pagination__button {{'' if pagination.left_arrow else 'pagination__button--hidden'}}"
        href="{{url_for('user_page', username=user.username, page=page-1)}}"
    >
        <i class="fa-solid fa-angle-left"></i>
    </a>
    <div class="pagination__numbers">
        {% for number in pagination.numbers %} {% if number == "..." %}
        <p>...</p>
        {% else %}
        <a
            href="{{url_for('user_page', username=user.username, page=number)}}"
            class="button pagination__button {{'' if number == pagination.active_page else 'button--ghost'}}"
        >
            {{number}}
        </a>
        {% endif %} {% endfor %}
    </div>
    <a
        class="button button--secondary pagination__button {{'' if pagination.right_arrow else 'pagination__button--hidden'}}"
        href="{{url_for('user_page', username=user.username, page=page+1)}}"
    >
        <i class="fa-solid fa-angle-right"></i>
    </a>
</div>
{% else %}
<div class="note-grid__not-found">
    <h1 class="note-grid__not-found__heading">
        Tällä käyttäjällä ei ole vielä yhtään muistiinpanoa
    </h1>
</div>
{% endif %}
<!---->

{% endblock %}
