{% extends "base.html" %}

<!---->

{% block title %} Kirjaudu sisään {% endblock %}

<!---->

{% block content %}

<!---->

<div class="card__container">
    <section class="card auth__content">
        <h1 class="card__heading">Tervetuloa takaisin!</h1>
        <p class="card__subtext">
            Kirjaudu sisään Muistiinpanojako käyttyäjälläsi
        </p>

        <form
            class="auth__form"
            action="{{url_for('signin_action')}}"
            method="post"
        >
            <div class="input__container">
                <label class="input__label" for="username">
                    Käyttäjätunnus
                </label>
                <input
                    class="input__text"
                    type="text"
                    name="username"
                    id="username"
                    value="{{fields.username if fields else '' }}"
                />
            </div>

            <div class="input__container">
                <label class="input__label" for="password"> Salasana </label>
                <input
                    class="input__text"
                    type="password"
                    name="password"
                    id="password"
                    value="{{fields.password if fields else '' }}"
                />
            </div>

            <input
                type="text"
                name="csrf_token"
                id="csrf_token"
                value="{{session.csrf_token}}"
                hidden
            />

            <input
                type="text"
                name="next"
                id="next"
                value="{{request.args.get('next', '')}}"
                hidden
            />

            <input
                class="button button--wide auth__button"
                type="submit"
                value="Kirjaudu sisään"
            />

            <a
                href="{{url_for('signup_page')}}?next={{request.args.get('next', '')}}"
                class="auth__swap"
            >
                Ei käyttäjää? <span class="link">Rekisteröidy nyt!</span>
            </a>
        </form>
    </section>
</div>
{% endblock %}
