{% extends "base.html" %}

<!---->

{% block title %} Kirjaudu sisään {% endblock %}

<!---->

{% block content %}

<!---->

<div class="card__container">
    <section class="card auth__content">
        <h1 class="card__heading">Mukava tavata!</h1>
        <p class="card__subtext">Rekisteröidy Muistiinpanojaon käyttäjäksi</p>

        <form
            class="auth__form"
            action="{{url_for('signup_action')}}"
            method="post"
        >
            <div class="input__container">
                <label class="input__label" for="username">
                    Käyttäjätunnus
                </label>
                <input
                    class="input__text"
                    type="text"
                    name="username"
                    id="username"
                    value="{{fields.username if fields else '' }}"
                />
                <p class="input__description">
                    Käyttäjätunnuksen on oltava yli 3 merkkiä ja alle 16 merkkiä
                    pitkä.
                </p>
            </div>

            <div class="input__container">
                <label class="input__label" for="password"> Salasana </label>
                <input
                    class="input__text"
                    type="password"
                    name="password"
                    id="password"
                    value="{{fields.password if fields else '' }}"
                />
                <p class="input__description">
                    Salasanan tulee olla vähintään 8 merkkiä pitkä sekä sisältää
                    vähintään yhden ison ja pienen kirjaimen.
                </p>
            </div>

            <input
                type="hidden"
                name="csrf_token"
                id="csrf_token"
                value="{{session.csrf_token}}"
                hidden
            />

            <input
                type="hidden"
                name="next"
                id="next"
                value="{{request.args.get('next', '')}}"
                hidden
            />

            <input
                class="button button--wide auth__button"
                type="submit"
                value="Rekisteröidy"
            />
        </form>
        <hr hidden />
        <a
            href="{{url_for('signin_page')}}?next={{request.args.get('next', next)}}"
            class="auth__swap"
        >
            Onko sinulla jo käyttäjä?
            <span class="link">Kirjaudu sisään!</span>
        </a>
    </section>
</div>
{% endblock %}
