:root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --alert: 0 84.2% 60.2%;
    --alert-foreground: 210 20% 98%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --primary: 263.4 70% 50.4%;
        --primary-foreground: 210 20% 98%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --alert: 0 62.8% 30.6%;
        --alert-foreground: 210 20% 98%;
    }
}

body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
    -webkit-user-select: none;
}

* {
    transition: all 150ms linear;
}

header {
    border-bottom: 1px solid hsl(var(--muted-foreground));
    padding-block: 1rem;
    padding-inline: 2rem;
    position: sticky;
    top: 0px;
    background-color: hsl(var(--background));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: hsl(var(--primary));
}

a:has(.logo) {
    color: hsl(var(--foreground));
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
}

main {
    margin-inline: clamp(6rem, 20vw, 20vw);
    padding-inline: 4rem;
    padding-block: 2rem;
    background-color: hsl(var(--background));
    height: 100%;
    flex-grow: 1;
    border-inline: 1px solid hsl(var(--muted-foreground));
}

h1 {
    font-size: 1.75rem;
}

.title {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.auth-form {
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.submit-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: hsl(var(--secondary));
    color: hsl(var(--secondary-foreground));
    border: 1px solid hsla(var(--secondary-foreground) 0.5);
    border-radius: 1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;

    &:focus {
        outline: 2px solid hsl(var(--primary));
    }
}

textarea {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: hsl(var(--secondary));
    color: hsl(var(--secondary-foreground));
    border: 1px solid hsla(var(--secondary-foreground) 0.5);
    border-radius: 1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    resize: none;
    field-sizing: content;
    width: 100%;

    &:focus {
        outline: 2px solid hsl(var(--primary));
    }
}

input[type="submit"], button {
    width: fit-content;
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    border: none;
    border-radius: 1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    cursor: pointer;
}

input[type="submit"] {
    align-self: flex-end;
}

.error-message {
    width: 100%;
    background-color: hsla(var(--alert));
    color: hsl(var(--alert-foreground));
    font-weight: bold;
    border-radius: 1rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    user-select: text;
    -webkit-user-select: text;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.error-message:has(.hide-toggle:checked) {
    display: flex;
}

.hide-toggle {
    display: none;
}

.hide-button {
    height: min-content;
    padding: 0.5rem;
    cursor: pointer;
}

.textarea-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-container {
    white-space: pre-wrap;
    user-select: text;
    -webkit-user-select: text;

    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: hsl(var(--secondary));
    color: hsl(var(--secondary-foreground));
    border: 1px solid hsla(var(--secondary-foreground) 0.5);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.links {
    display: flex;
    gap: 1rem;
    font-size: 1.125rem;
    color: hsl(var(--foreground));

    & > a {
        color: hsl(var(--foreground));
        text-decoration: none;

        &:hover {
            color: hsl(var(--primary));
        }
    }
}

.note-card-container {
    display: grid;
    grid-template-columns: repeat(3, 16rem);
    width: 100%;
    gap: 1rem;
}

a:has(.note-card) {
    text-decoration: none;
}

.note-card {
    padding: 1rem 2rem;
    border: 1px solid hsl(var(--muted-foreground));
    border-radius: 1rem;
    cursor: pointer;
    color: hsl(var(--foreground));
    text-decoration: none;
    width: 16rem;
    aspect-ratio: 16/9;
}

.note-card-title {
    font-weight: bold;
    font-size: 1.125rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.note-card-author {
    color: hsl(var(--secondary-foreground));
}

.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
}

.not-found-title {
    font-size: 1.5rem;
}
