{% extends "base.html" %}

<!---->

{% block title %} Uusi muistiinpano {% endblock %}

<!---->

{% block content %}

<!---->

<div class="card__container">
    <section class="note__card card">
        <h1 class="card__heading">Luo uusi muistiinpano</h1>
        <p class="card_subtext">&nbsp;</p>

        <form
            class="note__form"
            action="{{url_for('create_note_action')}}"
            method="post"
        >
            <div class="input__container">
                <label for="title">Otsikko</label>
                <input
                    class="input__text"
                    type="text"
                    name="title"
                    id="title"
                    value="{{fields.title if fields else '' }}"
                />
            </div>

            <div class="input__container">
                <label for="content">Muistiinpanot</label>
                <textarea
                    class="input__text"
                    name="content"
                    id="content"
                    rows="24"
                >
{{fields.content if fields else '' }}</textarea
                >
            </div>

            <input
                type="text"
                name="csrf_token"
                id="csrf_token"
                value="{{session.csrf_token}}"
                hidden
            />

            <input
                class="button button--right"
                type="submit"
                value="Tallenna"
            />
        </form>
    </section>
</div>

{% endblock %}
