{% extends "base.html" %}

<!---->

{% block title %} Uusi muistiinpano {% endblock %}

<!---->

{% block content %}

<!---->

<div class="card__container">
    <section class="note__card card">
        <h1 class="card__heading">Muokkaa muistiinpanoa</h1>
        <p class="card_subtext">&nbsp;</p>

        <form
            class="note__form"
            action="{{url_for('update_note_action', note_id=note.id)}}"
            method="post"
        >
            <div class="input__container">
                <label class="input__label" for="username">Otsikko</label>
                <input
                    class="input__text"
                    type="text"
                    name="title"
                    id="title"
                    value="{{note.title}}"
                />
            </div>

            <div class="input__container">
                <label class="input__label" for="username">Muistiinpanot</label>
                <textarea
                    class="input__text"
                    name="content"
                    id="content"
                    rows="24"
                    wrap="hard"
                >
{{note.content}}</textarea
                >
                <p class="input__description">
                    Muistiinpanon maksimipituus on 10 000 merkkiä
                </p>
            </div>

            <input
                type="text"
                name="csrf_token"
                id="csrf_token"
                value="{{session.csrf_token}}"
                hidden
            />

            <input
                class="button button--right"
                type="submit"
                value="Tallenna"
            />
        </form>
    </section>
</div>

{% endblock %}
