{% extends "base.html" %}

<!---->

{% block title %} {{note.title}} {% endblock %}

<!---->

{% block content %}

<!---->

<section class="view-note">
    <h1 class="view-note__heading">{{note.title}}</h1>
    <p class="view-note__author">{{note.user.username}}</p>
    {% if is_creator %}
    <form
        class="view-note__button-row"
        action="{{url_for('delete_note_action', note_id=note.id)}}"
        method="post"
    >
        <input
            type="text"
            name="csrf_token"
            id="csrf_token"
            value="{{session.csrf_token}}"
            hidden
        />

        <input
            type="submit"
            class="button button--destructive"
            value="Poista"
        />

        <a
            href="{{url_for('edit_note_page', note_id=note.id)}}"
            class="button button--secondary"
            >Muokkaa</a
        >
    </form>
    {% endif %}
    <div class="view-note__content" disabled rows="24">{{note.content}}</div>
</section>

{% endblock %}
